
<mat-toolbar color="primary">
        <span><a routerLink="" style="text-decoration: none;color:white">Auction Dapp</a></span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <span><mat-icon svgIcon="account-circle" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></span>
        <span style="margin-right:2%" (click)="openDialog()">Sign In</span>
        <span style="margin-right:3%" (click)="openRegisterDialog()">Sign Up</span>
       
</mat-toolbar>
<mat-card style="width:100%">
  <div style="margin-left:20%">
  <b>How To Bid</b>
  
    <h5 style="margin-left: 10%">Step 1.<span style="margin-left: 1%">Login or Register<mat-icon svgIcon="account-circle"  aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></span>
      <h5 style="margin-left: 10%">Step 2.<span style="margin-left: 1%">Select the bid item<mat-icon svgIcon="bid"  aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></span>
        <h5 style="margin-left: 10%">Step 3.<span style="margin-left: 1%">Make a bid and wait for the results<mat-icon svgIcon="money"  aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></span></h5></h5>
      
    </h5>
  </div>
    
</mat-card>

<mat-toolbar color="primary" class="footer" >
  <span>Terms and conditions</span>
  <span style="margin-left: 5%">FAQs</span>
  <span style="margin-left: 5%"><mat-icon svgIcon="account_circle" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
  </span>
</mat-toolbar>


<!-- <ol>
        <li>
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="What's your name?">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button (click)="openDialog()">Pick one</button>
        </li>
        <li *ngIf="animal">
          You chose: <i>{{animal}}</i>
        </li>
</ol> -->


<router-outlet></router-outlet>



        
