

<div *ngFor="let hero of myitems; "  style="display: inline-block;padding: 10px;margin-left: 33%">
    

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Base Price: {{hero.price}} ETH</mat-card-title>
        <mat-card-subtitle style="display: none">{{hero.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='{{hero.hash}}' alt="Item Image">
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-actions>
          
          
       
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <button mat-button>PLACE BID</button>
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input id="amount" type="number" matInput placeholder="Amount (ETH)">
            </mat-form-field>
            <button mat-button color="primary" (click) = "sendBid()">SUBMIT</button>
            
          </mat-expansion-panel>
          
        </mat-accordion>
        
      </mat-card-actions>
    </mat-card> 


    
    </div>
<mat-list  class="mylist">
    <mat-list-item><h5>Bidder</h5> <h5 style="margin-left: 75%">Amount</h5></mat-list-item>
    <mat-divider></mat-divider>
  <div *ngFor="let bidders of getBiddersAddress;">
      <mat-list-item><h5><b>{{bidders.address}}</b></h5>   <h5 style="margin-left:8%"><b>{{bidders.bidAmount}} ETH</b></h5></mat-list-item>
      <mat-divider></mat-divider>
    </div>
      
</mat-list>

    


  
  
    <router-outlet></router-outlet>
    
    
    
    
    
    
    
    
    
    